node_modules
public/bundle/
bundle.js
bundle.js.map
.DS_Store
npm-debug.log
yarn-error.log
package-lock.json
.env
client/features/addQ/firebase.js
/test-results/
/playwright-report/
/playwright/.cache/
