body {
  font-family: sans-serif;
  background-image: url("newBG8T.png");
  /* height:calc(100vh - (56px)) */
}

/* #with-bg {
  background-image: url("newBG8T.png")
} */

#no-border {
  border: none;
}

#form-border {
  /* border-color: black; */
}
#question-submit-btn {
  /* background-color: aqua; */
}
a[href="/questions"] {
  color: black;
  text-decoration-line: none;
}

#form-submit-btn {
  background-color: #ff6262;
  border-color: #ff6262;
}

#btn-muted {
  background-color: rgba;
}

.questionCard {
  transition: all 0.3s ease-in-out;
}

.questionCard:hover {
  transform: scale(1.1);
}
