body {
  font-family: sans-serif;
  background-image: url("bg_small.png")
  
  /* height:calc(100vh - (56px)) */
}

#no-border{
  border:none
}

#form-border{
  border-color: black;
}

a[href="/questions"] {
  color:black
  
  
}
 
/* href {
  color:""
} */