body {
  font-family: sans-serif;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  /* background-image: url("newBG8T.png"); */
  padding-bottom: 20px;
}

#no-border {
  border: none;
}

#form-submit-btn {
  background-color: #ff6262;
  border-color: #ff6262;
}

.questionCard {
  transition: all 0.3s ease-in-out;
}

.questionCard:hover {
  transform: scale(1.1);
}

.welcome {
  color: #333;
  padding: 20px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.nofound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

p {
  font-size: 24px;
  margin-bottom: 30px;
}

button #hoverEffect {
  background-color: #0077cc;
  color: #fff;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 50px;
  align-self: center;
}

button:hover #hoverEffect {
  background-color: #0066b3;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.qualities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
}

.quality {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: calc(50% - 40px);
  max-width: 500px;
}

.quality-icon {
  background-color: #0077cc;
  color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.quality-text {
  text-align: center;
}

.quality-text h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.quality-text p {
  font-size: 16px;
  line-height: 1.5;
}

.testimonials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
}

.testimonial {
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(200, 200, 200, 0.75);
  text-align: center;
}

.testimonial .review {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 20px;
}

.testimonial .name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.testimonial .occupation {
  font-size: 16px;
}

.testimonials-heading {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}

#footer {
  margin-top: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#tooltip-top > .tooltip-inner {
  background-color: rgb(235, 233, 233);
  color: rgb(93, 93, 93);
}

/* nav */
.navbar {
  background-color: #ff6262;
}

.navbar-logo {
  height: 50px;
}

.navbar-link {
  color: white;
  background-color: rgba(255, 255, 255, 0.354);
  text-decoration-line: underline;

  text-align: center;
}

/* edit profile */

#edit-profile-card {
  max-width: 800px;
  padding: 0px;
}

#edit-profile-card-header {
  font-size: 150%;
  margin: 4px;
  font-weight: 500;
  background-color: transparent;
}

.asterisk,
.warning {
  color: red;
}

/* request reset pw link */
#request-pw-reset-card {
  max-width: 600px;
}

#request-pw-reset-card-header {
  font-weight: 500;
  font-size: 150%;
}

#request-pw-reset-card p {
  font-size: 15px;
}

/* reset password */
.expired-link {
  color: black;
  font-weight: 500;
  font-size: 20px;
}

/* about us */
#about-card {
  width: 90%;
  margin-top: 30px;
  /* border: none; */
  margin-bottom: 30px;
}

.about-heading {
  text-align: center;
  /* text-decoration-line: underline; */

  font-weight: 420;
  font-size: 50px;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

#member-card {
  width: 15rem;
  padding: 0;
  margin: 10px;
  border: none;
  transition: all 0.3 ease;
}

.member-card {
  position: relative;
  color: #fff;
  overflow: hidden;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
}
.member-card-hover .default {
  display: block;
}

.member-card-hover .hover {
  display: none;
  box-shadow: 0 0 2px #ff6262;
}

.member-card-hover:hover .default {
  display: none;
}

.member-card-hover:hover .hover {
  display: block;
}
.member-img {
  padding: none;
  margin: none;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.member-caption {
  position: absolute;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  /* top: auto; */
  bottom: 0;
  /* opacity: 1; */
  left: 0;
  width: 100%;
  height: 65%;
  background-color: rgba(255, 255, 255, 0.755);
  -webkit-transform: translateY(72%);
  transform: translateY(72%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.1s 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.1s 0.4s, -webkit-transform 0.4s;
  transition: transform 0.4s, opacity 0.1s 0.4s;
  transition: transform 0.4s, opacity 0.1s 0.4s, -webkit-transform 0.4s;
}

#member-card-title {
  padding: 0;
  width: 100%;
  /* background-color: transparent */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 6rem; */
}
#member-name {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: 500;
  text-align: center;
  font-size: 18px;
  color: black;
}

#member-role {
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  text-align: center;
  font-weight: 200;
  font-size: 15px;
}
#member-name1 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 500;
  text-align: left;
  font-size: 18px;
  padding-bottom: 0;
  color: #ff6262;
}
#member-role1 {
  margin: 0;
  text-align: left;
  font-weight: 400;
  font-size: 11px;
  padding-top: 0;
  color: black;
}
#member-desc1 {
  font-size: 11px;
  color: black;
  font-weight: 350;
  padding-bottom: 0;
  margin-bottom: 0;
}

.member-caption:hover {
  /* opacity: 0.6; */
  -webkit-transform: translateY(0px);
  background-color: #fafafafe;
  transform: translateY(0px);
  -webkit-transition: opacity 0.1s, -webkit-transform 0.4s;
  transition: opacity 0.1s, -webkit-transform 0.4s;
  transition: transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s, -webkit-transform 0.4s;
}
#member-read {
  bottom: 0;
  position: absolute;
  left: 35%;
  font-size: 15px;
}
.modal-backdrop {
  --bs-backdrop-bg: rgba(27, 9, 9, 0.961) !important;
}
.modal-dialog {
  --bs-modal-width: 75%;
  --bs-modal-height: 50%;
  /* min-width: 50vw; */
}
/* 
.modal-content {
  --bs-modal-width: 60vw;
  min-width: 50vw;
} */
