<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>We have received a password change request for your MedExperts account. If you did not ask to change your password, then you can ignore this email and your password will not be changed. The link below will remain active for one hour.</p>
        <p> Please, click the link below to reset your password</p>
        <a href="http://localhost:8080/resetPassword/?token={{token}}&email={{email}}">Reset Password</a>
    </body>
</html>

