<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>We have received a password change request for your MedExperts account. To reset your password click the below link and follow the instructions on the page.</p>
       </br> <p> Please note: This URL is valid only once and will expire after 1 hour. If the access key is no longer valid, please request a new link on MedExperts.</p>
        <a href="http://localhost:8080/resetPassword/?token={{token}}&uid={{uid}}">Reset Password</a>
    </body>
</html>

