<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Thanks for signing up for MedExpert! To get started on our website, please click the button below to verify your email address.</p>

        <button onClick={() => window.location.href=("http://localhost:8080/resetPassword/?token={{token}}&uid={{uid}}")}>Verify Email</button>
    </body>
</html>

