<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <p>Thanks for joining MedExperts! </p>

    <br />
    <p>Please take a second to confirm that we have your correct email address:
      <a
        href="http://localhost:8080/verifyEmail/?token={{token}}&tempId={{uid}}"
      >http://localhost:8080/verifyEmail/?token={{token}}&tempId={{uid}}</a>
    </p>

  </body>
</html>