<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <p>Thanks for joining MedExperts! </p>

    <br />
    <p>Your verification code is:</p>
    <p>
     {{token}}</a>
    </p>

  </body>
</html>