<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <p>Thanks for joining MedExperts! Please take a second to confirm that we
      have your correct email address.</p>

    <a
      href="http://localhost:8080/verifyEmail/?token={{token}}&tempId={{uid}}"
    >Verify Email</a>
  </body>
</html>