<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Thanks for signing up for MedExpert! To get started on our website, please click the button below to verify your email address.</p>

        <a href="http://medexperts.io/verifyEmail/?token={{token}}&tempId={{uid}}">Verify Email</a>
    </body>
</html>

